apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  type: NodePort
  selector:
    app: flask-app
  ports:
    - port: 5000          # Service port
      targetPort: 5000    # Container port (Flask listens here)
      nodePort: 31497     # External NodePort
